td {vertical-align:top;}
html {padding: 0; margin: 0; background-color: #392411; background: url('../images/background.jpg');}
div.container {background-color:#fff; padding: 1em;}
th {color: #113B11;background-color: #e8ddcb;}
h1, h2, h3, h4, h5, h6 { color: #392411;}
a {color: #113B11}
.alt {color: #113B11;}



